/* MAIN STUFF */
body{
    font-family: sans-serif;
    margin:0;
    padding:0;
    background-color: #ffffff;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

*{
    box-sizing: border-box;
}

.second-background{
    background: rgb(243, 241, 241);
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

/* TOP MENU */
navigation-menu{
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    z-index: 10;
}

navigation-menu ul{
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

navigation-menu li{
    display: inline-block;
}

navigation-menu a{
    display: block;
    color:#3498db;
    font-size: 110%;
    padding: 10px;
    text-decoration: none;
}

navigation-menu a:hover{
    color:#217dbb;
    text-decoration:none;
    background:rgb(238, 238, 238);
    border-radius:4px
}
/* END TOP MENU */

footer{
    padding: 50px;
}
/* END MAIN STUFF */

/* CUSTOM DIVS */
/* PROFILE STUFF */
#header{
    position: relative;
    height: 100vh;
    background-image: url("../images/headerbackground1.jpeg");
	background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 200px;
    max-height: 500px;
    border-bottom: 1px solid rgb(182, 182, 182);
}

#profile{
    min-width: 620px;
    height: 200px;
    display: flex;
    position: absolute;
    top: 25%;
    left: 4%;
}

#profile img{
    width: 150px;
    height: 150px;
    border-image: 10px;
}

#profile #name{
    font-size: 30px;
    font-weight: bold;
    padding: 0%;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 40px;
    position: relative;
}

#profile #title{
    font-size: 20px;
    padding: 0%;
    color: #ffffff;
    opacity: 0.8;
    position: absolute;
    left: 170px;
    top: 50px;
}

/* END PROFILE STUFF */

/* ABOUT */
#about{
    padding: 75px 15px;
    border-bottom: 1px solid rgb(182, 182, 182);
}

#about p{
    color: rgb(153, 153, 153);
    margin: 0;
}

/* END ABOUT */
/* EDUCATION */

#education{
    text-align: center;
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid rgb(182, 182, 182);
}

#education h2{
    color: rgb(34, 34, 34);
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 30px;
}

/* END EDUCATION */

/* SKILLS */

#skills{
    text-align: center;
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid rgb(182, 182, 182);
    overflow: hidden;
}

#skills-container{
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

#skills h2{
    color: rgb(34, 34, 34);
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 30px;
}

#skills h4{
    color: rgb(34, 34, 34);
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 20px;
}

#skills-languages{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#skills-software{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#skills-third{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#skills-languages ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

#skills-software ul{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

#skills-third ul{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

#skills li{
    display: block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
}

/* END SKILLS */

/* END CUSTOM DIVS */

/* CLASSES */

.heading{
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.shadow{
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container::before{
    content: " ";
    display: table;
}

.row::before{
    content: " ";
    display: table;
}

.container::after{
    content: " ";
    display: table;
    clear: both;
}

.row::after{
    content: " ";
    display: table;
    clear: both;
}

.headertint::before{
    content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:rgb(42, 141, 255);
    opacity: 0.4;
}

.heading::after{
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498db;
}

/* SOCIAL LIST STUFF */
.social{
    text-align: center;
    padding: 1px;
    list-style-type: none;
    position: absolute;
    left: 170px;
    top: 80px;
}

.social li{
    display: inline-block;
}

.linkedin{
    content: url("../images/linkedinicon.png");
    width: 30px;
    height: 30px;
}

.twitter{
    content: url("../images/twittericon.png");
    width: 30px;
    height: 30px;
}

.facebook{
    content: url("../images/facebookicon.png");
    width: 30px;
    height: 30px;
}

.github{
    content: url("../images/githubicon.png");
    width: 30px;
    height: 30px;
}
/* END SOCIAL LIST STUFF */

/* ABOUT STUFF */

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.about-header{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

.about-text{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

/* END ABOUT STUFF */

/* EDUCATION STUFF */

.education-block{
    background-color: rgb(255, 255, 255);
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    text-align: left;
}

.education-block h3{
    font-weight: 500;
    float: left;
    margin: 0 0 5px 0;
    color: rgb(78, 78, 78);
}

.education-block h4{
    font-weight: 500;
    clear: both;
    margin: 0 0 15px 0;
    color: rgb(153, 153, 153);
}

.education-block p{
    font-size: 15px;
    clear: both;
    margin: 0 0 0 0;
    color: rgb(153, 153, 153);
}

.education-date{
    color: rgb(153, 153, 153);;
    float: right;
}

/* EDUCATION IMAGES */
.education-logo-FG{
    content: url("../images/FGLogo.png");
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 0 0 5px;
}
.education-logo-THG{
    content: url("../images/stockholmstadlogo.png");
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 0 0 5px;
}

/* END EDUCATION STUFF */

/* SKILLS */



/* END SKILLS */

/* MEDIA STUFF */
@media (min-width: 768px){
.container {
    width: 750px;
}}
    
@media (min-width: 992px){
.container {
    width: 970px;
}}
    
@media (min-width: 1200px){
.container {
    width: 1170px;
}}
    
@media (min-width: 992px){
.about-header, .about-text{
    float: left;
}}
    
@media (min-width: 992px){
.about-header{
    width: 33.33333333%;
}}
    
@media (min-width: 992px){
.about-text{
    width: 66.66666667%;
}}
/* END MEDIA STUFF */

/* END CLASSES */